.vuestrap-bug-photo-import-modal .modal-dialog {
    width: 99%;
}
.photo-list {
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 0 0 20px 0;
}
.photo-list li {
    width: 360px;
    min-height: 245px;
    text-align: center;
    border: 1px solid #CCCCCC;
    margin: 10px 10px 0 0;
    padding: 10px;
    float: left;
    display: inline-block;
}
.photo-list div textarea {
    height: 100px;
}
.photo-list img {
    width: 100%;
    margin: 10px;
}
.photo-list p {
    min-height: 20px;
}
.photos-import {
    margin: 0 0 20px 0;
}
.photos-import ul.photos {
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
}
.photos-import ul.photos li {
    width: 360px;
    text-align: center;
    border: 1px solid #CCCCCC;
    margin: 10px 10px 0 0;
    float: left;
    display: inline-block;
}
.photos-import ul.photos li > div {
    height: 265px;
    margin: 10px;
    overflow: hidden;
}
.photos-import ul.photos li > div.horizontal img {
    margin: 65px 0;
}
.photos-import ul.photos li > div > div {
    text-align: center;
    padding: 10px;
    position: relative;
}
.photos-import ul.photos li > div > div label {
    font-size: 16px;
}
.photos-import ul.photos li img {
    width: 320px;

}
.photos-import ul.photos li textarea {
    width: 300px;
    height: 50px;
    margin: 10px;
    resize: vertical;
}
